#contener
{
    display: grid;
    margin:0 auto;
    grid-template-columns: repeat(19,40px);
    grid-template-rows: repeat(22,40px);
}

.mur
{
    background-image: url('img/mur.gif');
    z-index: 1;
}

.sol
{
    background-image: url('img/sol.gif');
    z-index: 1;
}

.bonbon
{
    background-image: url('img/bonbon.gif');
    z-index: 1;
}

.pacman
{
    background-image: url('img/pacman4.gif');
    z-index: 5;
}

.fantome0
{
    background-image: url('img/fantome0.gif');
    z-index: 5;
}
.fantome1
{
    background-image: url('img/fantome1.gif');
    z-index: 5;
}
.fantome2
{
    background-image: url('img/fantome2.gif');
    z-index: 5;
}
.fantome3
{
    background-image: url('img/fantome3.gif');
    z-index: 5;
}